{
  "extends": ["eslint-config-unjs"],
  "rules": {
    "space-before-function-paren": 0,
    "arrow-parens": 0,
    "comma-dangle": 0,
    "semi": 0,
    "unicorn/prevent-abbreviations": 0,
    "quotes": 0,
    "keyword-spacing": 0,
    "no-undef": 0,
    "indent": 0,
    "unicorn/catch-error-name": 0,
    "unicorn/no-null": 0,
    "unicorn/no-useless-undefined": 0,
    "unicorn/no-await-expression-member": 0,
    "unicorn/no-array-push-push": 0,
    "unicorn/filename-case": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "unicorn/expiring-todo-comments": 0
  }
}
