{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "import/no-named-as-default-member": "off",
    "import/no-named-as-default": "off",
    "import/default": "off",
    "no-console": "off"
  }
}
