:root {
  --c-brand: #F0DB4F;
  --c-brand-light: #F2DF61;
}

a {
  color: var(--c-text) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: rgb(20,20,20) !important;
    --c-text: rgb(255,255,255,87%) !important;
    --c-text-light:  rgb(255,255,255,87%) !important;
  }
  .action > a {
    color: var(--c-bg) !important;
  }
}
