<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="NODE_ENV" value="production" />
    <add key="NEWRELIC_ENABLE" value="false" />
    <add key="NEWRELIC_APPNAME" value="jackpotcity" />
    <add key="NEWRELIC_APIKEY" value="a0b6a668e1f530f25bd78f2059846ea7af8cb3e7" />
    <add key="NEWRELIC_LOG_LEVEL" value="info" />
    <add key="NEWRELIC_ENABLE_FORWARDING" value="true" />
    <add key="X_API_KEY" value="777E94E4-1113-4CF2-9488-3ADC041F5740" />
    <add key="NUXT_PUBLIC_AUTH" value="https://dev-app.jackpotcity.co.za/auth" />
    <add key="NUXT_PUBLIC_BALANCE" value="https://dev-app.jackpotcity.co.za/balance" />
    <add key="NUXT_PUBLIC_BASE" value="https://apic.easterndawn.io" />
    <add key="NUXT_PUBLIC_ENVIRONMENT" value="dev" />
    <add key="NUXT_PUBLIC_KENTICO" value="https://cms1.easterndawn.io" />
    <add key="NUXT_PUBLIC_PLAYER" value="https://dev-app.jackpotcity.co.za/player" />
    <add key="TASK_RUNNER" value="https://dev-config.easterndawn.io/api" />
    <add key="NUXT_PUBLIC_VERSION" value="1.0.0" />
    <add key="WIDGET_BANNER" value="https://widgets.betwayafrica.com/bannerwidget/bannermanagement/bannermanagement.esm.js" />
    <add key="WIDGET_BANNER_TOKEN" value="https://cdn.betwayafrica.com/Global/origin/banner-token-handler-africa.js" />
    <add key="WIDGET_NOTIFICATION_PANEL" value="https://widgets.betwayafrica.com/notificationpanel/notificationspanel/notificationspanel.esm.js" />
    <add key="GTM_CONTAINER_ID" value="GTM-59D9F64" />
    <add key="WIDGET_ELASTIC" value="https://cdn.easterndawn.io/global/elastic-apm-rum.umd.min.js" />
    <add key="WIDGET_ELASTIC_SN" value="website-jackpotcity-co-za" />
    <add key="WIDGET_ELASTIC_US|N" value="https://monitor.easterndawn.io" />
    <add key="NUXT_PUBLIC_CONFIG" value="https://dev-config.easterndawn.io" />
    <add key="NUXT_PUBLIC_ENABLE_DEBUG_TOOLS" value="false" />
    <add key="NUXT_PUBLIC_ENABLE_IMAGE_COMPRESSION" value="false" />
  </appSettings>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server\/debug[\/]?" />
        </rule>

        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>

        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="index.js"/>
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
          <add segment="node_modules"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

    <httpErrors existingResponse="PassThrough" />

    <iisnode watchedFiles="web.config;*.js" node_env="production" debuggingEnabled="true" />
  </system.webServer>
</configuration>
