name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm stub
      - name: Fix lint issues
        run: npm run lint:fix
      - uses: autofix-ci/action@8caa572fd27b0019a65e4c695447089c8d3138b9
        with:
          commit-message: "chore: apply automated fixes"
