name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: corepack enable
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: pnpm
      - run: pnpm install
      - run: pnpm stub
      - run: pnpm lint

  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: corepack enable
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: pnpm
      - uses: oven-sh/setup-bun@v1
        if: ${{ matrix.os != 'windows-latest' }}
        with:
          bun-version: latest
      - uses: denoland/setup-deno@v1
        if: ${{ matrix.os != 'windows-latest' }}
        with:
          deno-version: v1.x
      - run: pnpm install
      - run: pnpm test:types
      - run: pnpm build
      - run: pnpm vitest --coverage
        env:
          NODE_OPTIONS: --experimental-vm-modules --enable-source-maps
      - uses: codecov/codecov-action@v3
      - name: Release Edge
        if: |
          github.event_name == 'push' &&
          !contains(github.event.head_commit.message, '[skip-release]') &&
          !contains(github.event.head_commit.message, 'chore') &&
          !contains(github.event.head_commit.message, 'docs')
        run: ./scripts/release-edge.sh
        env:
          NODE_AUTH_TOKEN: ${{secrets.NODE_AUTH_TOKEN}}
