name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: yarn
      - run: yarn install
      - run: yarn lint
      - run: yarn build
      # - run: yarn test --coverage
      # - uses: codecov/codecov-action@v2
